div.container{
  background-image: url('../../../../assets/background.jpg');
  min-height : 100%;
  min-width : 100%;
  background-size:100% 100%;
  background-repeat:no-repeat;
  overflow: hidden;
  color: var(--color4);
}
.textContent{
  font-size: 25px;
  line-height: 1.5;
<<<<<<< HEAD
=======
  height: fit-content;
>>>>>>> 963d693ee749b587b389d48008961c45201d222c
  padding: 50px;
}

.txt{
  margin: 80px 200px;
}

@media (max-width: 500px) {
  .textContent{
    font-size: 15px;
  }
}
