
<div class="container divCont" >
  <div class="row">
    <div class="col"></div>
    <div class="col textContent d-flex justify-content-center align-items-center">

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur labore totam quo odio adipisci veniam.
        Ea, nihil libero qui sit tenetur nobis deleniti, eveniet nemo sint dicta ut officiis quibusdam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam suscipit, corporis, cum sed maxime ea mollitia facilis animi corrupti qui excepturi,
        laboriosam reprehenderit voluptate? Assumenda deserunt omnis unde nobis dolorum!
      </p>
      </div>
  </div>
</div>



