.footer{
  background-color: var(--color1);
  color: var(--color4);
}

hr{
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.icons i{
  font-size: 20px;
  margin: 5px;
}
*{
  margin: 0;
}
