
<footer class="footer ">
  <div class="d-flex justify-content-evenly align-items-center">
    <h4>Contact Us</h4>
    <p class="pt-2">
      <b>Phone:</b> +1 5589 55488 55<br>
      <b>Email:</b> Kotopedia@example.com
  </p>
  <div class="icons">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>
  </div>
  <hr>
  <div class="text-center"> &copy;<b>Kotopedia</b> All rights reserved </div>
</footer>

