<div class="signupForm shadow">
  <form [formGroup]="signupForm" (ngSubmit)="signUp()">

    <div class="nameInput">
      <mat-form-field appearance="outline" class="w-100 py-1">
        <mat-label>Enter your name</mat-label>
        <input matInput placeholder="name should be 3 - 12 characters" formControlName="name">
        <mat-error *ngIf="nameValid">{{nameValid}}</mat-error>
      </mat-form-field>
    </div>

    <div class="emailInput">
      <mat-form-field appearance="outline" class="w-100 py-1">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="example@aaa.aaa" formControlName="email">
        <mat-error *ngIf="emailValid">{{emailValid}}</mat-error>
      </mat-form-field>
    </div>

    <div class="passwordInput">
      <mat-form-field appearance="outline" class="w-100 py-1">
        <mat-label>Enter your password</mat-label>
        <input matInput placeholder="password should be 6 - 12 characters" formControlName="password">
        <mat-error *ngIf="passwordValid">{{passwordValid}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let g of genders" [value]="g.value">
            {{g.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="text-center my-2">
      <div class="text-start my-1">please insert your personal photo</div>
      <input class="form-control" type="file" (change)="getPhoto($event)" formControlName="photo">
    </div>

    <div class="signupButton text-center py-2">
      <button mat-raised-button color="primary">Signup</button>
    </div>

  </form>
</div>
