/* page layout */
.mainCont{
  background-color: var(--color4);
}
.layout{
  width: 90%;
  margin: 10px auto 0;
  display: flex;
  gap: 1%;
}

.layout .column1{
  width: 25%;
}

.layout .column2{
  width: 70%;
  margin-bottom: 20px;
  color: var(--color2);
}
/* End */

/* search bar */
.searchB{
  padding: 30px;
  margin: 0 auto;
  width: 70%;
}
.searchB .btn:hover{
  color: white;
}
.btn-outline:hover {
  background-color: var(--color2);
}
.btn-outline{
  border-color: var(--color3);
  color: var(--color1);
}
/* End */

/* side bar */
.column1 a{
  color: var(--color4);
  background-color: var(--color2);
}
.column1 a:hover{
  background-color: var(--color1);
}
.T{
  background-color: var(--color1) !important;
  border: none !important;
}

/* card details */
.card-img-top{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.btn-primary{
  color: var(--color4);
  background-color: var(--color2);
  border: none;
  width: 40%;
}
.btn-primary:hover{
  background-color: var(--color1);
}

input[type="search"]{
  outline: none;
  border-color: var(--color3);
}
input[type="search"]:focus{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--color1);
}




.image{
  height: 250px;
}
.image img{
  width: 90%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid var(--color1);
}
.myproduct{

  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px var(--color1);
  margin: 2%;
  text-align: justify;
  text-justify: inter-word;
  background-color: white
}
.butns .btn{
  font-size: 80%;
  margin-bottom: 2%;
}
/* .prg{
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;margin-bottom: 20px;
} */



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color4);
  border-radius: 10px;
}