<div class="mainCont">
<div class="searchB">
  <form class="d-flex" role="search">
    <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline rounded-pill px-4" type="submit">Search</button>
  </form>
</div>
<!-- break -->
<div class="layout">
  <div class="list-group column1">
    <a  class="list-group-item list-group-item-action T " aria-current="true">
      <b> Search by category</b>
    </a>
    <a href="#" class="list-group-item list-group-item-action">Fantasy</a>
    <a href="#" class="list-group-item list-group-item-action">Kids</a>
    <a href="#" class="list-group-item list-group-item-action">Romantic</a>
    <a href="#" class="list-group-item list-group-item-action">Crime</a>
    <a href="#" class="list-group-item list-group-item-action">Comedy </a>
    <a href="#" class="list-group-item list-group-item-action">History</a>
  </div>
  <!--break point  -->
<div class="row row-cols-1 row-cols-md-3 g-4 column2">
  <div class="col">
    <div class="card">
      <img src="../../../../assets/img2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Change for the better</h3>
        <b>EGP 120.00</b>
        <p class="card-text">A summary of the most important self-development and self-improvement books.</p>
        <a href="#" class="btn btn-primary m-auto">ِAdd To Cart</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../../assets/img3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Rich Dad Poor Dad</h3>
        <b>EGP 160.00</b>
        <p class="card-text">A summary of the most important self-development and self-improvement books.</p>
        <a href="#" class="btn btn-primary m-auto">ِAdd To Cart</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../../assets/img4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Attomic Habits</h3>
        <b>EGP 200.00</b>
        <p class="card-text">A summary of the most important self-development and self-improvement books.</p>
        <a href="#" class="btn btn-primary m-auto">ِAdd To Cart</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../../assets/img5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">The Richest Man in Babylon</h3>
        <b>EGP 85.00</b>
        <p class="card-text">A summary of the most important self-development and self-improvement books.</p>
        <a href="#" class="btn btn-primary m-auto">ِAdd To Cart</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../../assets/img6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Lojain</h3>
        <b>EGP 220.00</b>
        <p class="card-text">A summary of the most important self-development and self-improvement books.</p>
        <a href="#" class="btn btn-primary m-auto">ِAdd To Cart</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../../assets/mark_manson.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">The Art of Not Giving a interest</h3>
        <b>EGP 120.00</b>
        <p class="card-text">A summary of the most important self-development and self-improvement books.</p>
        <a href="#" class="btn btn-primary m-auto">ِAdd To Cart</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
