<div class="mainCont">

  <div class="searchB">
    <form class="d-flex" role="search">
      <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline rounded-pill px-4" type="submit">Search</button>
    </form>
  </div>

<div class="layout">
  <div class="list-group column1">
    <a  class="list-group-item list-group-item-action T " aria-current="true">
      <b> Search by Category</b>
    </a>
    <a href="/products" class="list-group-item list-group-item-action">Romantic</a>
    <a href="/products" class="list-group-item list-group-item-action">Fantasy</a>
    <a href="/products" class="list-group-item list-group-item-action">Children</a>
    <a href="/products" class="list-group-item list-group-item-action">Business</a>
    <a href="/products" class="list-group-item list-group-item-action">History </a>
    <a href="/products" class="list-group-item list-group-item-action">Crime</a>
  </div>
  <!--break point  -->
<div class="row row-cols-1 row-cols-md-3 g-4 column2">

  <!-- B -->
  <div *ngFor="let x of Allproducts let y=index" class="col-md-4 mt-2  ml-2 d-grid  col-12 align-items-center" style="justify-items:center ;">
    <div class="card">
      <img [src]="x.src" alt="" class="card-img-top">
      <div class="card-body">
        <h3 class="card-title">{{x.name}}</h3>
        <b>EGP {{x.unitprice}}</b>
        <p class="card-text">A summary of the most important self-development and self-improvement books.</p>
        <div class="d-flex justify-content-between">
          <a  class="btn btn-primary m-auto"  (click)="addToCart(y)"> {{CartButton[y]}}</a>
          <a href="/pay" class="btn btn-primary m-auto">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
<!-- E -->

  </div>
</div>
</div>
