.CheckBtn i {
  margin-left: 5px;
}

button {
  background-color: var(--color1);
  border-color: var(--color1);
}

button:hover {
  background-color: var(--color1);
  opacity: 0.9;
  color: var(--color4);
}

.bg-grey {
  background-color: #eae8e8;
}

.bk_img {
  height: 180px;
  width: 150px;
}

.my_ord {
  margin-top: 2%;
}
