.bg-grey {
  background-color: #eae8e8;
}

.btnsLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btnsLayout button {
  margin: 5px;
}

.cancelIcon i:hover {
  cursor: pointer;
}
